html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 16px;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

strong {
    font-size: 19px;
    padding-right: 15px;
    font-weight: bold;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* Base */
body {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    text-align: left;
    background-color: white;
}

a {
    color: #333;
}

a:visited {
    color: inherit;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 0.875rem;
    font-weight: bold;
}

.wrapper {
    padding: 0 15px 15px 15px;
    margin: auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    max-width: 1680px;
    min-height: 100%;
}

/* Menu */
nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0.5rem 0;
    margin-bottom: 0;
}

nav .nav-content {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

nav .nav-content a {
    color: #0065fc;
}

nav .nav-content .nav-logo {
    flex: 1 0 auto;
}

nav .nav-content .nav-logo img {
    max-width: 150px;
}

nav .nav-content .hosts {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding: 25px 20px 10px 20px;
}

nav .nav-content .activity {
    color: black;
    border-top: 2px solid transparent;
    padding: 25px 20px 10px 20px;
}

nav .nav-content .activity a {
    color: black;
}

nav .nav-content .signup {
    color: #0065fc;
    font-weight: bold;
    border-top: 2px solid transparent;
    padding: 25px 20px 10px 20px;
}

#head-title {
    margin-bottom: 30px;
}

#head-title h1 {
    margin-bottom: 0;
    padding-top: 10px;
}

#head-title h2 {
    margin-left: 0;
    padding-bottom: 10px;
    font-weight: normal;
}

/* Search box */
.search-box form .inner-form {
    display: flex;
    max-width: 420px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}

.search-box form .inner-form .input-field {
    height: 45px;
}

.search-box form .inner-form .input-field .icon-wrapper {
    padding: 5px;
}

.search-box form .inner-form .input-field input {
    height: 100%;
    background: white;
    border: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    display: block;
    width: 100%;
    padding: 10px 0 10px 20px;
    color: #000;
}

.search-box form .inner-form .input-field input::-webkit-input-placeholder {
    color: #444;
}

.search-box form .inner-form .input-field input:-moz-placeholder {
    color: #444;
}

.search-box form .inner-form .input-field input.placeholder {
    color: #444;
}

.search-box form .inner-form .input-field input:hover,
.search-box form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.search-box form .inner-form .input-field.first-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-box form .inner-form .input-field.first-wrap input {
    flex-grow: 1;
}

.search-box form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box form .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #444;
}

.search-box form .inner-form .input-field.first-wrap.icon-group {
    max-width: 50px;
}

.search-box form .inner-form .input-field.first-wrap.icon-group .icon-wrapper {
    height: 100%;
    width: 50px;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    position: relative;
    z-index: 0;
    background: #f2f2f2;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    text-align: center;
}

.search-box form .inner-form .input-field.first-wrap.icon-group .icon-wrapper img {
    width: 24px;
    height: 24px;
    margin-top: 5px;
}

.search-box form .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #0065fc;
    transition: all 0.2s ease-out, color 0.2s ease-out;
    font-weight: 300;
    padding: 0 20px 0 20px;
}

.search-box form .inner-form .input-field.second-wrap .btn-search.mobile {
    display: none;
}

.search-box form .inner-form .input-field.second-wrap .btn-search:hover {
    box-shadow: inset 0px 1px 20px 13px #cccccc78;
}

.search-box form .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.search-box form .fa-map-marker-alt {
    color: black;
    padding-top: 10px;
}

#search {
    font-weight: bold;
    font-size: 1rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.filters .filter-btn {
    color: #484848;
    display: flex;
    height: 53px;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
    text-decoration: none;
    margin-right: 25px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

.filters .filter-btn .iconback {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 6px;
    text-align: center;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 25px;
}

.filters .filter-btn .iconback .fas {
    transition: 0.3s;
}

.filters .filter-btn:hover .iconback {
    background-color: red;
}

.filters .filter-btn:hover .iconback .fas {
    transform: rotateX(360deg);
    color: white;
}

.filters .filter-btn .btn-round {
    display: inline-block;
    padding: 0 20px 0 20px;
    text-align: center;
    font-weight: bold;
}

.info {
    margin-top: 25px;
    font-size: 20px;
}

.info-button {
    display: inline;
}

.info .info-button-icon {
    width: 35px;
    height: 35px;
    text-align: center;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 10px;
    padding-top: 4px;
    display: inline-block;

}

.info .btn-round {
    display: inline-block;
    width: 15px;
    text-align: center;
}

main {
    display: flex;
    margin-top: 10px;
    align-items: stretch !important;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

#container {
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 0 0 70%;
}

#aside {
    margin-top: 50px;
    margin-bottom: 50px;
    flex: 0 0 30%;
}

#aside h2 {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.8em;
    width: 100%;
}

h2.cards-title {
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.75rem;
    width: 100%;
    padding: 15px 0;
}

/* Card Class */
.cards {
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 0 15px;
    padding: 15px;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.card a {
    text-decoration: none;
    color: #333;
}

.card header {
    padding: 0 0.75rem;
}

.card header h1 {
    font-size: 1rem;
}

.card-no-border {
    border: none !important;
}

.card-1 {
    width: 100%;
    flex: 1 0 100%;
}

.card-3 {
    flex: 1 0 30%;
}

.card-horizontal,
.card-img {
    margin: 15px;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 2px #e0e0e0;
}

.card-img {
    height: 260px;
}

.card-img img {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-img .card-body {
    flex: 1 1 auto;
    padding: 0 0.75rem;
}

.card-img .card-footer {
    padding: 0 0.75em 0.25em 0.75em;
}

.card-horizontal {
    flex: 1 1 auto;
    display: flex;
}

.card-horizontal .card-left-img {
    flex: 1 1 35%;
    height: 100%;
    overflow: hidden;
    max-height: 180px;
}

.card-horizontal .card-left-img img {
    vertical-align: middle;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card-horizontal .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-horizontal .card-body .card-content {
    height: 110px;
    width: 155px;
}

.card.full-height img {
    height: 520px;
}

.more {
    padding: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
}

#activity {
    margin-bottom: 50px;
    padding-top: 10px;
}

#activity h2 {
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.8em;
    width: 100%;
}

#activity h3 {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#activity img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    object-fit: cover;
}

#activity .cards {
    background-color: transparent;
    margin: 0;
}

#activity .card {
    background-clip: border-box;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 2px #e0e0e0;
}

#activity .line {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
    margin-left: -25px;
    align-items: stretch !important;
}

.col-1,
.col-2 {
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    flex: 0 0 25%;
    max-width: 25%;
}

.card-2-3 {
    height: 300px;
}

.card-2-3 img {
    border-radius: 25px 25px 0 0;
    height: 240px;
}

.card-1-3 {
    border-radius: 25px;
    height: 230px;
}

.card-1-3 img {
    border-radius: 25px 25px 0 0;
    height: 170px;
}

.col-2 .card:first-child {
    margin-bottom: 50px;
}

.chart {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: right;
    float: right;
    margin-right: 20px;
}

.stars {
    color: #0065fc;
}

.grey {
    color: #d9d9d9;
}

footer {
    background-color: #f2f2f2;
    padding-bottom: 25px; }

#footer {
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 1680px; }
#footer .col {
    flex: 1 0 33%; }
#footer .col > * {
    padding: 0 20px; }
#footer .col h3 {
    font-weight: bold; }